Config { font = "xft:Ubuntu:weight=bold:pixelsize=13:antialias=true"
       , additionalFonts = [ "xft:Fira Code Nerd Font:pixelsize=17:antialias=true:hinting=true"
							,"xft:Font Awesome 5 Free Solid:pixelsize=14"
							,"xft:Fira Code Nerd Font:size=15:antialias=true:hinting=true"
							]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#0d1014"
       , fgColor = "grey"
       , alpha = 255
       , position = TopSize L 100 25
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , iconRoot = "/home/moazzam/.xmonad/xpm/"
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "OPKC" ["-t","  <fn=2>\xf769</fn> Karachi:  <tempC>°C"] 7200
                    , Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "eth1" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-t", "<fn=2>\xf2db</fn> cpu: <total>%"] 10
                    , Run Memory ["-t","<fn=2>\xf538</fn>  mem: <usedratio>%"] 10
                    , Run Wireless "wlp3s0" [ "-t", "<fn=1> </fn> <essid>" ] 10
                    , Run Swap ["-t", "swp: <usedratio>%"] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run BatteryP ["BAT0"] ["-t", "<acstatus>", "--", "-o", "<fn=1></fn> <left>%", "-O", "<fn=1></fn> <left>%" ] 10
                    , Run Date "%a %b %_d %Y %H:%M " "date" 10
                        -- Prints out the left side items such as workspaces, layout, etc.
                    , Run StdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<box type=Bottom width=4 mb=2 color=white><fc=#ffffff>     <fn=3>  </fn>      </fc></box>      %StdinReader% } <fc=#ffffff>%date%</fc> { <fc=#ffffff>%battery% </fc>    <fc=#ffffff>%wlp3s0wi%</fc>    <fc=#ffffff>%cpu%</fc>    <fc=#ffffff>%memory% * %swap%</fc>    <fc=#ffffff>%OPKC%</fc>    "   
       }
